body {
    font-family: 'Josefin Sans',sans-serif;
}

a {
    padding: 0;
    margin: 0;
    border: 0;
}

a:link {
    padding: 0;
    margin: 0;
    border: 0;
}

a:hover {
    padding: 0;
    margin: 0;
    border: 0;
}

a:visited {
    padding: 0;
    margin: 0;
    border: 0;
}


.main {
    position: relative;
    text-align: center;
    width: 1000px;
    height: 600px;
    top: 24px;
    margin: auto;
    border: 1px;
    padding: 0;
    border-radius: 3px;
    background-color: #FFDE17;
    box-shadow: 0 0 6px 3px #B5B5B5;
}

.logo {

}

.links {
    height: 160px;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-start;
}

.links a img {
    flex: 1;
    max-width: 100%;
    border: 0;
    margin: 0;
    padding: 0;
}

.social {
    border-top: 5px solid #FFF100;
    height: 100px;
    padding: 0;
    margin: 0;
}

.social a img {
    object-fit: none;
    max-width: 120px;
    height: 100px;
    width: 100%;
    border: 0;
    margin: 0;
    padding: 0;
}

.footer {
    border-top: 5px solid #FFF100;
    margin: auto;
    padding: 1.5%;
    font-size: small;
    font-weight: bold;
}